[Desktop Entry]
Type=Application
Name=WebClient
Comment=Surface WebClient application
Exec=bash -c "cd %k; nwjs/nw .; read"
Icon=obconf
Terminal=true
Categories=Utility
