### Node template
# Log files
/logs/*

# Node.js modules
/node_modules/

# JetBrains project settings
/.idea/

# Images directory
/scans/*

# NW.js Application (different on different platforms)
/webclient/nwjs
