[Desktop Entry]
Type=Application
Name=ScanMeister Guerilla Client
Comment=Open ScanMeister Client in Guerilla mode
Exec=chromium-browser --kiosk --noerrdialogs --disable-infobars https://localhost:8080?kiosk=1&ui=0&guerilla=1
Icon=/home/scanmeister/Desktop/surface-scanmeister/webclient/images/scanmeister-client.png
Terminal=false
Categories=Utility;
