[Desktop Entry]
Type=Application
Name=ScanMeister
;Exec=bash -c 'cd $0; node index.js; read' $PWD
;Exec=bash -c "cd \"$0\"; node index.js; read" $PWD
;Exec=bash -c 'cd $(echo $PWD) && node $(echo $PWD)/index.js; read'
Exec=bash -c 'cd $0 && node index.js; read' $PWD
Icon=obconf
Terminal=true
Categories=Utility
