[Desktop Entry]
Type=Application
Name=ScanMeister
Comment=Start the ScanMeister scanner control daemon
Exec=bash -c 'cd %k && node index.js; read -d q'
Icon=obconf
Terminal=true
Categories=Utility
